/* color palette https://coolors.co/042a2b-2f4d52-597078-adb6c4-ffefd3-ffc49b-3f0d12 */

h1{
    font-size: 50px;
    font-family: 'Heebo', sans-serif;
    color: #2F4D52;
}
h2{
    font-size: 20px;
    font-family: 'Lustria', serif;
    color: #042A2B;
}
ul{
    font-size: 15px;
    font-family: 'Lustria', serif;
    color: #042A2B;
}
html{
    background-color: #FFEFD3;
}
#box{
    list-style-image: url(https://github.com/AKA-Beastmaster/test-site/blob/main/images/42186_checkbox_checked_unchecked_icon.png?raw=true);
}
#box-done{
    list-style-image: url(https://github.com/AKA-Beastmaster/test-site/blob/main/images/42185_box_icon.png?raw=true);
}