/* color palette https://coolors.co/042a2b-2f4d52-597078-be7c4d-ffefd3-ffc49b-3f0d12 */

/* Set the color variables */
:root{
    --pagebackgroundcolor: #FFEFD3;
    --topbarcolor: #FFC49B;
    --topbarcolorcontrast: #3F0D12;
    --fontdark: #042A2B;
    --fontsemidark: #2F4D52;
    --fontlight: #597078;
}

/* fixes topbar issues */
* {
    margin: 0px;
    padding: 0px;
}

/* fonts and stuff */
h1{
    font-size: 50px;
    font-family: 'Heebo', sans-serif;
    color: var(--fontsemidark);
}

h2{
    font-size: 20px;
    font-family: 'Lustria', serif;
    color: var(--fontdark);
}

ul{
    font-size: 15px;
    font-family: 'Lustria', serif;
    color: var(--fontdark);
}
#mainheader::before{
    content: "";
    display: block;
    height: 1.25em;
}
/* the color of the page */
html{
    background-color: var(--pagebackgroundcolor);
}
/* the list bullet styles */
#box{
    list-style-image: url(https://github.com/AKA-Beastmaster/test-site/blob/main/images/box.svg?raw=true);
}

#box-done{
    list-style-image: url(https://github.com/AKA-Beastmaster/test-site/blob/main/images/box-checked-1.svg?raw=);

}

/* getting the borders working */
.list-of-things{
    
    margin-top: 50px;
    text-align: left; 
    margin-left: auto;
    margin-right: auto;
    width: 3in;
    list-style-position: inside;
    text-indent: -1em;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    
}

/* top border */
.list-of-things:before {
    content:"";
    display: block;
    margin-left: -2em;
    margin-right: -1em;
    width: auto;
    padding-bottom: 0.5em;
    border-top: 3px solid var(--fontlight);
}
/* bottom border */

.list-of-things:after {
    content:"";
    display: block;
    margin-left: -2em;
    margin-right: -1em;
    width: 80%;
    padding-top: 1em;
    border-bottom: 2px solid var(--fontlight);
}

/* aligning the text to the middleo of the page */
.alltext{
    text-align: center;
}
#scrollextend{
    margin-top: 50em;
}

#logo{
    /* padding-left: 7pt;
    padding-top: 5pt;
    padding-bottom: 5pt;
    padding-right: 7pt; */ 
}

.topbar{
    background-color: var(--topbarcolor);
    text-align: center;
    position: fixed;
    width: 100%;
}
nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0pt;
    background: var(--topbarcolor);
    width: 100%;
    transform:scale(1,0);
    transform-origin: top;
    transition:transform 250ms ease-in;
}

nav ul{
    list-style-type: none;
}

nav li{
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: var(--fontlight);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1em;
    opacity: 0;
    transition:opacity 75ms ease-in ;
}
nav a:hover{
    color: var(--topbarcolorcontrast);
}
.nav-hide{
    display: none;
}
.nav-hide-label{
    position: absolute;
    top: 0;
    left: 0%;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-hide:checked ~ nav{
    transform: scale(1,1);
}
.nav-hide:checked ~ nav a{
    opacity: 1;
    transition:opacity 75ms ease-in 175ms;
}
.nav-hide:checked ~ .nav-hide-label span{
    background-color: var(--topbarcolorcontrast);
}
.nav-hide:checked ~ .nav-hide-label span::before{
    background-color: var(--topbarcolorcontrast);
}
.nav-hide:checked ~ .nav-hide-label span::after{
    background-color: var(--topbarcolorcontrast);
}
.nav-hide:hover ~ .nav-hide-label span{
    background-color: var(--fontlight);
}
.nav-hide:hover ~ .nav-hide-label span::before{
    background-color: var(--fontlight);
}
.nav-hide:hover ~ .nav-hide-label span::after{
    background-color: var(--fontlight);
}
.nav-hide-label span,
.nav-hide-label span::before,
.nav-hide-label span::after{
    display: block;
    background-color: var(--pagebackgroundcolor);
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-hide-label span::before,
.nav-hide-label span::after{
    content: "";
    position: absolute;
}
.nav-hide-label span::before{
    bottom: 7px;
}
.nav-hide-label span::after{
    top: 7px;
}


@media screen and (min-width: 800px){
    .nav-hide-label{
        display: none;
    }

    .topbar{
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    #logo{
        grid-column: 2/span 1;
    }
    
    nav{
        all: unset;
        grid-column: 3/4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav li{
        margin-left: 3em;
        margin-bottom: 0;
    }
    
    nav ul{
        display: flex;
        justify-content: flex-end;
    }
    nav a{
        opacity: 1;
        position: relative;
    }

    nav a::before{
        content: "";
        display: block;
        height: 3px;
        background-color: var(--topbarcolorcontrast);
        position: absolute;
        top: -1em;
        left: 0;
        right 0

        
    }
}