/* color palette https://coolors.co/042a2b-2f4d52-597078-adb6c4-ffefd3-ffc49b-3f0d12 */

h1{
    font-size: 50px;
    font-family: 'Heebo', sans-serif;
    color: #2F4D52;
}

h2{
    font-size: 20px;
    font-family: 'Lustria', serif;
    color: #042A2B;
}

ul{
    font-size: 15px;
    font-family: 'Lustria', serif;
    color: #042A2B;
}

html{
    background-color: #FFEFD3;
}

#box{
    list-style-image: url(https://github.com/AKA-Beastmaster/test-site/blob/main/images/box.svg?raw=true);
}

#box-done{
    list-style-image: url(https://github.com/AKA-Beastmaster/test-site/blob/main/images/box-checked-1.svg?raw=);

}

.list-of-things{
    
    margin-top: 50px;
    text-align: left; 
    margin-left: auto;
    margin-right: auto;
    width: 3in;
    list-style-position: inside;
    text-indent: -1em;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    
}

.list-of-things:before {
    content:"";
    display: block;
    margin-left: -2em;
    margin-right: -1em;
    width: auto;
    padding-bottom: 0.5em;
    border-top: 3px solid #597078;
}

.list-of-things:after {
    content:"";
    display: block;
    margin-left: -2em;
    margin-right: -1em;
    width: 80%;
    padding-top: 1em;
    border-bottom: 2px solid #597078;
}


.alltext{
    text-align: center;
}